@using Biblioteca.Core.Models

@model (Libro libro, List<Nazioni> nazioni, List<Lingua> lingue, List<Genere> generi, List<Autore> autori)

<div class="container">
    <h2>Modifica del Libro</h2>
    <small class="danger">*Attenzione, la modifica del libro può compromettere i dati dei prestiti</small>
    <form method="post" asp-action="Edit" asp-controller="Libri">
        <input type="hidden" name="IdLibro" value="@Model.libro.IdLibro"/>

        <span>Titolo</span>
        <input type="text" name="Titolo" value="@Model.libro.Titolo" required/>

        <span>Autore</span>
        <select name="IdAutore" id="selectAutore" required>
            @foreach (var a in Model.autori)
            {
                <option value="@a.IdAutore" selected="@(a.IdAutore == Model.libro.IdAutore)">
                    @a.Nome @a.Cognome
                </option>
            }
        </select>

        <span>Anno</span>
        <input type="text" name="Anno" value="@Model.libro.Anno" required/>

        <span>Lingua</span>
        <select name="IdLingua" id="selectLingua" required>
            @foreach (var l in Model.lingue)
            {
                <option value="@l.IdLingua" selected="@(l.IdLingua == Model.libro.IdLingua)">
                    @l.Nome
                </option>
            }
        </select>

        <span>Genere</span>
        <select name="IdGenere" id="selectGenere" required>
            @foreach (var g in Model.generi)
            {
                <option value="@g.IdGenere" selected="@(g.IdGenere == Model.libro.IdGenere)">
                    @g.Descrizione
                </option>
            }
        </select>

        <span>Paese</span>
        <select name="IdPaese" id="selectNazione" required>
            @foreach (var n in Model.nazioni)
            {
                <option value="@n.IdPaese" selected="@(n.IdPaese == Model.libro.IdPaese)">
                    @n.Nome
                </option>
            }
        </select>

        <span>Costo</span>
        <input type="text" name="CostoLibro" value="@Model.libro.CostoLibro" required/>

        <span>Pagine</span>
        <input type="text" name="Pagine" value="@Model.libro.Pagine"/>

        <input type="submit" value="Modifica"/>
    </form>
</div>

<style>
    form {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    form input, select {
        margin: 10px 0;
        padding: 5px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid #17313E;
    }

    form span {
        font-weight: bold;
        color: #17313E;
    }

    input[type=submit] {
        background-color: #17313E;
        color: white;
        padding: 10px;
        cursor: pointer;
    }

    .danger {
        color: #fa3131;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @@media screen and (max-width: 768px) {
        form {
            width: 100%;
        }
    }
</style>
